:root{
    --cor--primaria-botao: rgb(79, 188, 221);
    --cor--hover-botao: rgb(148, 197, 212);
    --cor--secundaria-botao: rgb(255, 255, 255);
    --cor--cabecalho: #4e7ee7

}

.textosobre{
    text-align: justify;
    font-size: 20px;
}

.container{
    padding: 25px;
    background-color: #fff;
    position: relative;
    text-align: center;
    font-size: x-large;
}

.titulo{
    font-size: x-large;
    text-align: center;
}

.container2{
    background-color: #fff;
    position: relative;
    text-align: center;
    font-size: x-large;
}

.titulobotao{
    font-size: 20px;
    
}

.textTabel{
    font-size: 23px;
}

.rodape{
    font-size: 20px;
    text-align: center;
}

.header{
    align-items: center;
    display: flex;
    justify-content: right;
}

.menuitem{
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.itembiblioteca{
    margin: 3px;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: #060b3f;
    border: 3px solid #060b3f;
    border-radius: 8px;
    width: 100px;
}

.itembiblioteca a{
    color: white;
}

.biblioteca{
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
}

footer{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: #060b3f;

}

ul{
    list-style: none;
}

li{
    color:#fff;
    display: flex;
}

.icon{
    width: 25px;
}


p{
    margin: 3px;
    margin-left: 8px;
}

footer a, footer h2{
    color:#fff
}

.fundo{
    background-image: url(../assets/fundo.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.galeria{
    display: grid;
    grid-template-columns: 50% 50%;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
}

.aglomerado-item{
    display: flex;
}

.textoAutores{
    font-size: 20px;
}

h3{
    font-size: 25px;
}